{% extends "base.html" %}

{% block title %} Home {% endblock %}


{% block content %}

    <div class="container-fluid content">
        <section class="hero" data-aos="fade-up" data-aos-duration="1000">
            <div class="container">
                <div class="row">
                    <div class="col-md-6" >
                        <div class="text-display">
                            <div class="text-label">
                                wildfires are becoming more frequent, widespread, and destructive
                            </div>
                            <div class="text-bold">
                                BlazeBlock can create a safer, more informed world
                            </div>
                            <div class="text-regular">
                                Harnessing the power of technology and satellite-derived active fire data to combat the growing wildfire crisis. We empower communities to work together in the face of adversity
                            </div>
                            <br>
                            <br>
                            <div class="cta">
                                <a class="btn btn-primary" href="{{ url_for('views.report_page') }}"  id="report-page">REPORT A FIRE NOW</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 spline-element">
                        <spline-viewer url="https://prod.spline.design/rChu1QnZ0aCn3VWy/scene.splinecode"></spline-viewer>
                    </div>
                </div>
            </div>
        </section>


        
        <section class="purpose" >
            <div class="container">
                <div class="row" data-aos="fade-up" data-aos-duration="1000">
                    <div class="col-md-6 mt-5 mb-5">
                        <div class="text-bold">
                            INSIGHTS
                        </div>
                        <div class="text-label">
                            Helpful data
                        </div>
                        <div class="text-regular">
                            BlazeBlock offers real-time information about fire incidents and areas at higher risk, helping users make informed decisions about their safety and evacuation plans. Users gain insights into the state of local forests, nearby reservations or even their neighbourhood. They can monitor trends and take appropriate action.
                        </div>
                    </div>
                    <div class="col-md-6 mt-5 mb-5">
                            <img src="../static/images/insights.svg" class="img hero-img" alt="insights">
                    </div>
                </div>
                <div class="row" data-aos="fade-up" data-aos-duration="1000">
                    <div class="col-md-6 mt-5 mb-5">
                            <img src="../static/images/reports.svg" class="img hero-img" alt="reports">
                    </div>
                    <div class="col-md-6 mt-5 mb-5">
                        <div class="text-bold">
                            REPORTS
                        </div>
                        <div class="text-label">
                            Help your community
                        </div>
                        <div class="text-regular">
                            By enabling civilians to report and monitor fire incidents and access real-time data on potential risks, it empowers individuals and communities to actively engage in fire prevention and safety efforts. Simultaneously, it provides authorized authorities with tools to monitor and manage fire incidents efficiently, all while fostering collaboration with local communities.
                        </div>
                    </div>
                </div>

                <div class="row" data-aos="fade-up" data-aos-duration="1000">
                    <div class="col-md-6 mt-5 mb-5">
                        <div class="text-bold">
                            DATA AGGREGATION
                        </div>
                        <div class="text-label">
                            All useful data in one single place
                        </div>
                        <div class="text-regular j">
                            Our app serves as a robust platform for data aggregation sensor data, satellite imagery, and GIS mapping with user-generated data to provide information about spreading wildfires. BlazeBlock serves as a centralized repository of data, increasing effectiveness and saving time in critical situations.
                        </div>
                    </div>
                    <div class="col-md-6 mt-5 mb-5">
                            <img src="../static/images/aggregation.svg" class="img hero-img" alt="reports">
                    </div>
                </div>
            </div>
        </section>

        <section class="features">

        </section>

        <div class="row" data-aos="fade-up" data-aos-duration="1000">
            <div class="col-md-12 mt-5 mb-5 text-center">
                <div class="text-regular">
                    WEBAPP DEVELOPED FOR NASA SPACE APPS CHALLENGE BY BLAZE BLOCK
                </div>
                <div class="text-label">
                    TEAM BLAZEBLOCK: Alexandru Solomon, Robert Maftei, Octavian Balog
                </div>
            </div>
        </div>
    </div>

<!-- JS SCRIPTS -->

{% endblock %}

