{% extends "base.html" %}

{% block title %} Home {% endblock %}


{% block content %}

    <div class="container-fluid content">
        <section class="hero" data-aos="fade-up" data-aos-duration="1000">
            <div class="container">
                <div class="row">
                    <div class="col-md-6" >
                        <div class="text-display">
                            <div class="text-label">
                                wildfires are becoming more frequent, widespread, and destructive
                            </div>
                            <div class="text-bold">
                                BlazeBlock can create a safer, more informed world
                            </div>
                            <div class="text-regular">
                                Harnessing the power of technology and satellite-derived active fire data to combat the growing wildfire crisis. We empower communities to work together in the face of adversity
                            </div>
                            <br>
                            <br>
                            <div class="cta">
                                <a class="btn btn-primary" href="{{ url_for('views.report_page') }}"  id="report-page">REPORT A FIRE NOW</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 spline-element">
                        <spline-viewer url="https://prod.spline.design/rChu1QnZ0aCn3VWy/scene.splinecode"></spline-viewer>
                    </div>
                </div>
            </div>
        </section>


        
        <section class="purpose" >
            <div class="container">
                <div class="row" data-aos="fade-up" data-aos-duration="1000">
                    <div class="text-bold">
                        PUBLIC INTEREST
                    </div>
                    <div class="col-md mt-5 mb-5">
                            <p class="text-semi-bold">Latest info on fire hazards</p>
                            <img src="../static/images/map_marker_data.png" class="img-fluid hero-img mt-1" alt="insights">
                    </div>
                    <div class="col-md mt-5 mb-5">
                            <p class="text-semi-bold">Keep your loved ones safe</p>
                            <img src="../static/images/report_page.jpeg" class="img-fluid hero-img mt-1" alt="insights">
                    </div>
                    <div class="col-md mt-5 mb-5">
                            <p class="text-semi-bold">Report a fire</p>
                            <img src="../static/images/fire_ai.jpeg" class="img-fluid hero-img mt-1" alt="insights">
                    </div>
                </div>
                
                <div class="row" data-aos="fade-up" data-aos-duration="1000">
                    <div class="col-md mt-5 mb-5">
                            <img src="../static/images/heatmap_data.png" class="img-fluid hero-img" alt="reports">
                    </div>
                    <div class="col-md mt-5 mb-5">
                        <div class="text-bold">
                            FETCH LATEST STATISTICS
                        </div>
                        <div class="text-label">
                            Let knowledge elevate you
                        </div>
                        <div class="text-semi-bold">
                            <p>Are you interested in advanced statistics on historical events and future predictions? Get stats now!</p>
                            <button class="btn btn-primary hero-btn">MAP</button>
                        </div>
                    </div>
                </div>

                <div class="row" data-aos="fade-up" data-aos-duration="1000">
                    <div class="col-md mt-5 mb-5">
                        <div class="text-bold">
                            KEEP THE PEOPLE INFORMED
                        </div>
                        <div class="text-label">
                            Help your community
                        </div>
                        <div class="text-regular ">
                            <p>Are you part of the local administration or want to make a name for yourself as a firefighter? Request an account and help us keep the information as solid as possible!</p>
                            <button class="btn btn-primary hero-btn">CONTACT US</button>
                        </div>
                    </div>
                    <div class="col-md mt-5 mb-5">
                            <img src="../static/images/community.svg" class="img ico-img" alt="reports">
                    </div>
                </div>
            </div>
        </section>

        <section class="features">

        </section>

        <div class="row" data-aos="fade-up" data-aos-duration="1000">
            <div class="col-md mt-5 mb-5 text-center">
                <div class="text-regular">
                    WEBAPP DEVELOPED FOR NASA SPACE APPS CHALLENGE BY BLAZE BLOCK
                </div>
                <div class="text-label">
                    TEAM BLAZEBLOCK: Alexandru Solomon, Robert Maftei, Octavian Balog
                </div>
            </div>
        </div>
    </div>

<!-- JS SCRIPTS -->

{% endblock %}

