{% extends "base.html" %}

{% block content %}

    <form id="dateRangeForm" method = "POST">
        <div class="row">
            <div class="col-md-auto">
                <select class="dropdown btn btn-primary" name="select-map">
                    <option class="dropdown-item" value="1">Active Fires</option>
                    <option class="dropdown-item" value="2">Fire Risk</option>
                  </select>
            </div>
            <div class="col-md-auto mt-2">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Date:</span>
                    <input type="text" name="date-range" class="form-control" aria-describedby="basic-addon1">
                  </div>
            </div>
            <div class="col-md-auto mt-2">
                <button type="submit" class="btn btn-primary mb-3">Submit</button>
            </div>
        </div>
    </form>

    <button onclick="redirectToPage()">Get Notified!</button>
    


    
    <div id="map"></div>

    <script>
        
        const position = [25,46]

        maptilersdk.config.apiKey = 'aq7LeCSjPMw8qSBWn3U9';
        const map = new maptilersdk.Map({
        container: 'map', // container's id or the HTML element to render the map
        style: "2120e825-c27b-4424-bbc8-b0b1d3afeceb",
        center: position, // starting position [lng, lat]
        zoom: 6, // starting zoom

        });

        var marker_data = {{ requested_data_dict | safe }};


        console.log(marker_data);

        for (var idx in marker_data) {
            if (marker_data.hasOwnProperty(idx)) {
                var elem = marker_data[idx];
                var marker_position = [elem.longitude,elem.latitude];
                console.log(marker_position);
                const marker = new maptilersdk.Marker({
                  color: "#FF0000",
                  scale: 0.5
              })
              .setLngLat(marker_position)
              .addTo(map);
            }
          }
        
        
        

    </script>

<!-- JS SCRIPTS -->



{% endblock %}